<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><table>
    <form method="post" action="login">
        {% csrf_token %}
        <tr>
            <td><input type="text" name="username" placeholder="User Name"> </td>
        </tr>
         <tr>
            <td><input type="password" name="password" placeholder="Password"> </td>
        </tr>
        <tr>
            <td><input type="submit"></td>
        </tr>
    </form>
</table>{% for i in messages %}
    <h3>{{i}}</h3>
    {% endfor %}
</center>

</body>
</html>